<ion-header>
  <ion-toolbar>
    <ion-title>Asistencia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-list>
  <ion-item>
    <ion-select placeholder="Programacion base de datos">
      <ion-select-option value="asistencia">100%</ion-select-option>
      
    </ion-select>
  </ion-item>
</ion-list>

<ion-list>
  <ion-item>
    <ion-select placeholder="Ingles Intermedio">
      <ion-select-option value="asistencia">100%</ion-select-option>
      
    </ion-select>
  </ion-item>
</ion-list>

<ion-list>
  <ion-item>
    <ion-select placeholder="Programacion web">
      <ion-select-option value="asistencia">100%</ion-select-option>
      
    </ion-select>
  </ion-item>
</ion-list>




<ion-content>
<ion-button color="success" expand="block" [routerLink]="['/vista-alumno']">Volver</ion-button>