<ion-header>
  <ion-toolbar>
    <ion-title>Alumno</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <ion-card>
  <ion-item>
    <img class="duoc" src="../../assets/img/Duoc.png" />
    <ion-card-title class="">Nombre Alumno: Ignacio Alfaro</ion-card-title>
    
 </ion-item>
 <ion-card-subtitle> <img class="Shayam" src="../../assets/img/chemms.jfif"/></ion-card-subtitle>
<ion-button color="primary" expand="block" >Escanear QR</ion-button>
<ion-button color="success" expand="block" (click)="animacion()" [routerLink]="['/asistencia']">Ver Asistencia</ion-button>
<ion-button color="success" expand="block" (click)="animacion()" [routerLink]="['/home']">Volver</ion-button>


</ion-card>
</ion-content>