ion-toolbar{
    display: flex;
    flex-direction: row;
    .duoc{
        width: 300px;
        
    }
}


.my-custom-menu{
    background-color: grey;
}

.Shayam{
    width: 50;

}



.button{
 margin-top: 20px;
 
}

