
<ion-header>
   
  <ion-toolbar>
    
    <img class="duoc" src="../../assets/img/Duoc.png" />
  </ion-toolbar>
  
</ion-header>

<ion-content fullscreen="true">
  

  <ion-card>
   
    <ion-card-header>
      <ion-card-subtitle> <img class="Shayam" src="../../assets/img/Shayam.jpeg"/></ion-card-subtitle>
      <ion-card-title class="ion-text-center">Freddy Campos</ion-card-title>
    </ion-card-header>
     <ion-card-content>
    </ion-card-content>
    <ion-button class="button" type="submit" color="danger" expand="block" onclick="">General codigo QR</ion-button>
        <ion-button color="success" expand="block"  [routerLink]="['/home']">Volver</ion-button> 
  </ion-card>
  
        
       
</ion-content>



